<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="proxyApplicationFileName" value="../../../../UdpFileTransfer.Proxy/bin/Debug/net8.0/UdpFileTransfer.Proxy.exe"/>
		<add key="proxyApplicationArguments" value="--listen-port 12345 --connect-port 12346 --client-delay 0.2 --server-delay 0.2 --client-drop 0.1 --server-drop 0.1"/>
	</appSettings>
</configuration>